{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <header>


        <div id="modalWindow">
        </div>
    </header>
    <main>
        <div id="app">
            <app></app>
        </div>

        <nav>
            <p>Navigation</p>
        </nav>
        <aside>
            <p>Sidebar</p>
        </aside>
    </main>
    <footer>
        <p>Footer</p>
    </footer>
{% endblock %}